<div class="row">
    <mat-card class="col-md-12 header">
        <div>
            <h5>Todo Aplication</h5>
        </div>
        <div class="logout-button">
            <button mat-button class="col-3" (click)="logout()" type="submit">Logout</button>
        </div>
    </mat-card>
    <mat-card class="col-md-12">
        <div class="row">
            <div class="col-md-9 project-card-container">
                <div  class="col-md-6" *ngFor="let project of projectList">
                    <form [formGroup]="newProjectForm">
                        <mat-card class="project-card">
                            <div class="title-card">
                                <mat-card-title>{{project.name}}</mat-card-title>
                                <button mat-menu-item class="icon" (click)="deleteProject(project._id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                            <mat-card-content>
                                <div class="list-task">
                                    <div class="row">
                                        <h5>To Do</h5>
                                    </div>
                                    <div class="row" *ngFor="let task of project.tasks">
                                        <div *ngIf="!task.completed">
                                            <input type="checkbox" [value]="task.completed" (change)="completeTask(project, task._id)" />
                                            {{task.name}}
                                                <button mat-menu-item class="icon" (click)="deleteTask(project, task._id)">
                                                    <mat-icon class="delete-task-icon">delete</mat-icon>
                                                </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-task">
                                <div class="row">
                                    <h5>Done</h5>
                                </div>
                                <div class="row" *ngFor="let task of project.tasks" >
                                    <div *ngIf="task.completed" tooltip title="{{task.finishDate}}">
                                        {{task.name}}
                                        <mat-icon class="delete-task-icon">check</mat-icon>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <mat-form-field>
                                            <input type="text" matInput placeholder="Task Name"
                                                formControlName="taskName">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 add-button">
                                        <button mat-button class="col-12" (click)="addTask(project)" type="submit">Add</button>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </form>
                </div>
                
            </div>
            <div class="col-md-3">
                <mat-card>
                    <mat-card-title>Create a new project</mat-card-title>
                    <mat-card-content>
                        <form [formGroup]="newProjectForm">
                            <div class="row">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Project Name"
                                        formControlName="projectName">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <button mat-button class="col-12" (click)="createProject()" type="submit">Create Project</button>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>